
body { 
	width: 70%; /* width in page percent. Can also be an absolute size */
	margin: 0 auto; 
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14pt;
	line-height: 200%;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #FF0000;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}